<h3>Edit Skill</h3>
<%= form_with model: @skill do |form| %>
  <p>Name: <%= form.text_field :name %></p>
  <p>Level: <%= form.text_field :level %></p>

  <p>Contact: <%= form.select :contact_id, Contact.all.map { |contact| [ contact.to_s, contact.id ] } %></p>
  <%= form.submit %>
<% end %>